---
import Layout from '../layouts/Layout.astro';
import Frame from '../components/Frame.astro';
import { PostsDictionary } from '../constants/Posts.ts';

const SinglePost = PostsDictionary[Astro.params.slug ?? ''];
---

<Layout
	title="R.P. Trainor: Expert Laravel & JavaScript/TypeScript Engineer | Native & Web App Specialist"
	description="Experienced startup veteran with 8+ years in software engineering. Specializing in Laravel, JavaScript/TypeScript, and building apps from the ground up for startups and small businesses. Let’s create your next big thing."
>
	{
		SinglePost.steps.map((step) => (
			<>
				{step.type === 'header' && (
					<Frame>
						<div class="col-span-3 col-start-1 row-span-1 row-start-1 place-content-end text-right">
							<h2 class="text-2xl font-bold sm:text-4xl md:text-5xl lg:text-6xl">{step.text}</h2>
						</div>
					</Frame>
				)}
				{step.type === 'paragraph' && (
					<Frame>
						<div class="col-span-3 col-start-1 row-span-1 row-start-2 place-content-start">
							{step.text}
						</div>
					</Frame>
				)}
				{step.type === 'image' && (
					<Frame>
						<div class="col-span-3 col-start-1 row-span-1 row-start-2 place-content-start">
							<img src={step.src} alt={step.text} />
						</div>
					</Frame>
				)}
				{step.type === 'link' && (
					<Frame>
						<div class="col-span-3 col-start-1 row-span-1 row-start-2 place-content-start">
							<a href={step.url} class="text-blue-500 hover:underline">{step.text}</a>
						</div>
					</Frame>
				)}
			</>
		))
	}
</Layout>
