---
// * src/layouts/Layout.astro
import '@fontsource-variable/montserrat'

import Header from '~/features/header_section/HeaderSection.astro'
import Posthog from '~/analytics/Posthog.astro'
interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="robots" content="index, follow" />
		<link rel="canonical" href={Astro.url} />

		{/* SEO Meta Tags */}
		<meta name="title" content={title} />
		<meta name="description" content={description} />
		<meta
			name="keywords"
			content="Ryan P Trainor Newsletter, Web Performance Tips, App Optimization Strategies, Sales Funnel Best Practices, Landing Page Design Insights, Tech Innovations by Ryan P Trainor, Software Development Techniques, Business Growth Hacks, Digital Marketing Trends, High-Performance Computing, Entrepreneurial Insights, User Experience Best Practices, Technology Leadership, Efficient Coding Practices, Ryan P Trainor Tech Insights"
		/>
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="manifest" href="/site.webmanifest" />
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
		<meta name="msapplication-TileColor" content="#da532c" />
		<meta name="theme-color" content="#ffffff" />

		<link rel="sitemap" href="/sitemap-index.xml" />

		{/* Open Graph Meta Tags */}
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />

		{/* Theme Color for Mobile Browsers */}
		<meta name="theme-color" content="#181E23" />

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body
		class="mx-auto flex max-w-4xl flex-col items-center justify-center gap-4 bg-brand_black p-4"
	>
		<Header />
		<slot />
	</body>
	<Posthog />
</html>

<style is:global>
	@tailwind base;
	@tailwind utilities;

	body,
	html {
		margin: 0;
		padding: 0;
		width: 100%;
		min-width: 0;
		font-family: 'Montserrat', 'sans';
	}

	body {
		line-height: 1;
		background: #181e23;
		font-style: normal;
		transition: font-size 0.3s ease-out;
		font-weight: 700;
		color: #ffffff;
		-webkit-font-smoothing: antialiased;
		font-size: 18px;
	}

	a {
		text-decoration: none;
		color: currentColor;
	}

	img {
		max-width: 100%;
		height: auto;
		border: 0;
	}
	h1 {
		font-size: 1.67rem;
		scroll-margin: 5rem;
		line-height: 2.5rem;
		font-weight: 800;
		letter-spacing: -0.025em;
		color: #fff;
		overflow-wrap: break-word;
		text-align: center;
		@media (min-width: 1024px) {
			line-height: 1;
		}
	}

	h2 {
		font-size: 1.39rem;
		scroll-margin: 5rem;
		line-height: 2.25rem;
		font-weight: 600;
		letter-spacing: -0.025em;
		margin-top: 0px;
	}

	p {
		line-height: 1.75rem;
		font-weight: 600;
		max-width: 65ch;
	}

	/* Tablet screen sizes */
	@media (min-width: 768px) {
		h1 {
			font-size: 2.22rem; /* Scaled up for tablet */
		}

		h2 {
			font-size: 1.94rem; /* Scaled up for tablet */
		}
	}

	/* Desktop screen sizes */
	@media (min-width: 1024px) {
		h1 {
			font-size: 2.78rem; /* Scaled up for desktop */
		}

		h2 {
			font-size: 2.22rem; /* Scaled up for desktop */
		}
	}

	::selection {
		background-color: #ffda00;
		color: #181e23;
	}
</style>
